// @import "styles/colors.scss";
$fg-color: #f0f0ff;
$topic-fg-color: #fc2;
$date-fg-color: #ff4;
$title-fg-color: #ddff88;
$title2-fg-color: #aaffdd;

$header-nav-bg-color: #113344;
$header-nav-fg-color: #88ffaa;

$msg-header-fg-color: #99ffff;

$strong-fg-color: #77ffaa;

$bg-color: #101010;
$bg1-color: #131014;
$bg2-color: #202020;
$bg3-color: #303030;

$link-color: #77bbff;

$input-fg-color: $fg-color;
$input-bd-color: #593cb3;
$input-bg-color: #113333;

$button-fg-color: $fg-color;
$button-bg-color: #445588;
$button-bd-color: #556699;
$button-bd2-color: #334477;
$button-green-color: #00aa00;
$button-red-color: #dd2200;
$button-grey-color: #444444;
$button-bd-width: 2px;
$button-bd-radius: 5px;

$table-head-bg-color: #125;
$table-bd-color: #345;
$table-odd-bg-color: #245;
$table-even-bg-color: #36a;

$stat-fg-color: #ccff33;

:root {
   /**
   * Gray colors.
   * Color number roughly corresponds to its luminosity.
   */
  --color--gray-hue: 220;
  --color--gray-saturation: 30%;
  --color--gray-5: hsl(var(--color--gray-hue), var(--color--gray-saturation), 5%); /* Black */
  --color--gray-10: hsl(var(--color--gray-hue), var(--color--gray-saturation), 11%);
  --color--gray-20: hsl(var(--color--gray-hue), var(--color--gray-saturation), 20%); /* Black 2 */
  --color--gray-45: hsl(var(--color--gray-hue), var(--color--gray-saturation), 44%); /* Gray Dark */
  --color--gray-60: hsl(var(--color--gray-hue), var(--color--gray-saturation), 57%); /* Gray medium */
  --color--gray-65: hsl(var(--color--gray-hue), var(--color--gray-saturation), 63%); /* Black 4 */
  --color--gray-70: hsl(var(--color--gray-hue), var(--color--gray-saturation), 72%); /* Gray medium 2 */
  --color--gray-90: hsl(var(--color--gray-hue), var(--color--gray-saturation), 88%); /* Gray light */
  --color--gray-95: hsl(var(--color--gray-hue), var(--color--gray-saturation), 93%); /* Gray light 1 */
  --color--gray-100: hsl(var(--color--gray-hue), var(--color--gray-saturation), 97%); /* Gray light 2 */

   /**
   * Primary colors.
   * Color number roughly corresponds to its luminosity.
   */
  --color--primary-hue: 250;
  --color--primary-saturation: 90%;
  --color--primary-lightness: 50;
  --color--primary-20: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) - (0.47 * var(--color--primary-lightness)))));
  --color--primary-30: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) - (0.36 * var(--color--primary-lightness)))));
  --color--primary-40: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) - (0.24 * var(--color--primary-lightness))))); /* Blue dark */
  --color--primary-50: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * var(--color--primary-lightness))); /* Blue medium */
  --color--primary-60: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) + (0.24 * (100 - var(--color--primary-lightness)))))); /* Blue bright */
  --color--primary-80: hsl(var(--color--primary-hue), var(--color--primary-saturation), calc(1% * (var(--color--primary-lightness) + (0.85 * (100 - var(--color--primary-lightness)))))); /* Blue very bright */

  /**
   * Variables specific to text.
   */
  --color-text-neutral-soft: var(--color--gray-60);
  --color-text-neutral-medium: var(--color--gray-90);
  --color-text-neutral-loud: var(--color--gray-100);

  --color-text-primary-medium: var(--color--primary-80);
  --color-text-primary-loud: var(--color--primary-60);

  --tabs-text-color: var(--color--primary-20);
  --tabs-background-color: var(--color--primary-80);
}

.mqtt-clientId-bg {
  // MQTT message client
  .all           { background-color: #1a1a1a; }
  .riolc         { background-color: #828; }
  .epiclc        { background-color: #529; }
  .arduino2      { background-color: #184; }
  .arduino3      { background-color: #052; }
  .arduino4      { background-color: #15f; }
  .arduino5      { background-color: #22b; }
  .labtime       { background-color: #a41; }
  .administrator { background-color: #640; }
  .controller    { background-color: #820; }
  .drupal        { background-color: #a71; }
}

.mqtt-func-bg {
  // MQTT Message function
  .Activity, .act    { background-color: #421; }
  .Alarm,    .alm    { background-color: #c32; }
  .Input,    .inp    { background-color: #239; }
  .Output,   .out    { background-color: #45a; }
  .Human,    .hum    { background-color: #953; }
  .Command,  .cmd    { background-color: #305; }
  .Response, .rsp    { background-color: #537; }
  .Get,      .get    { background-color: #030; }
  .Send,     .snd    { background-color: #383; }
  .Code,     .cod    { background-color: #222; }
  .Message,  .msg    { background-color: #078; }

  // Code sub categories
  .Debug             { background-color: #72c; }
  .Error             { background-color: #b00; }

  // Message sub categories
  .Notes             { background-color: #0bb; }
  .Notifications     { background-color: #33f; }
  .Chat              { background-color: #1a1; }
  .Questions         { background-color: #72c; }
  .Warning           { background-color: #d70; }
}

/*
.difference-grey-bg   { background-color: #666; }
.difference-red-bg    { background-color: #a34; }
.difference-orange-bg { background-color: #d70; }
.difference-green-bg  { background-color: #0a0; }
.difference-cyan-bg   { background-color: #46f; }
.difference-blue-bg   { background-color: #20c; }
 */