:is(
  .forum table,
  .text-content table,
  .views-table,
  .draggable-table
 ) th {
  padding-block: var(--sp0-75);
  font-size: 140%;
}
:is(
  .forum table,
  .text-content table,
  .views-table,
  .draggable-table
 ) td {
  border-block-end: 0px;
  padding-block: var(--sp0-25);
}

