/*** NEUTRONSTAR STYLE ***/

#top_bg{
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #AAA1AD 0%, #000 150px);
	background-image: linear-gradient(to top, #AAA1AD 0%, #000 150px);
}
.themed-block {
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #333 0%, #000 150px);
	background-image: linear-gradient(to top, #333 0%, #000 150px);
}
#section2 {
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #000 0%, #101010 10px);
	background-image: linear-gradient(to top, #000 0%, #101010 150px);
}
.region-highlighted {
	border: solid 1px #969;
}
h1, h2, h3, .block-title {
	color: #969;
}
a, a:link, #name-and-slogan a {
	color: #969;
}
a:hover, a:active, a.is-active, ul.menu a.is-active {
	color: #999;
}
.pure-menu-link {
	color: #000 !important;
	text-shadow: 0 1px #eee;
	background: #B7A4BC;
}
.pure-menu-link:hover, .pure-menu-link:focus {
	background: #D4C8D7;
}
.pure-menu-children .pure-menu-link {
	background: #B7A4BC;
	border: 1px solid;
	border-color: #E1D9E3 #907297 #907297 #E1D9E3;
}
.pure-menu-children a:hover, .pure-menu-children a:focus {
	background: #D4C8D7;
}
.menu-toggle .bars {
	background: #969;
}

@media screen and (max-width: 48em) {
	.pure-menu-link, .pure-menu-children,
	.pure-menu-children .pure-menu-link {
		color: #969 !important;
		text-shadow: none;
		background: none;
		border: none;
	}
	.pure-menu-link:hover,
	.pure-menu-link:focus,
	.pure-menu-children a:hover,
	.pure-menu-children a:focus {
		color: #969 !important;
		background: #191919;
	}
}
