/*** RED-GIANT STYLE ***/

#top_bg, .themed-block {
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #271F27 0%, #000 180px);
	background-image: linear-gradient(to top, #271F27 0%, #000 180px);
}
#section2 {
	background-color: #000;
	background-image: -webkit-linear-gradient(bottom, #000 0%, #271F27 180px);
	background-image: linear-gradient(to top, #000 0%, #271F27 180px);
}
.region-highlighted {
	border: solid 1px #900;
}
h1, h2, h3, .block-title {
	color: #f00;
}
a, a:link {
	color: #f00;
}
a:hover, a:active, a.is-active, ul.menu a.is-active {
	color: #999;
}
#name-and-slogan a {
	color: #999;
}
.pure-menu-link {
	color: #fff !important;
	text-shadow: 1px 1px #000;
	background: #900;
}
.pure-menu-link:hover, .pure-menu-link:focus {
	background: #ca0000;
}
.pure-menu-children .pure-menu-link {
	background: #ca0000;
	border: 1px solid;
	border-color: #df0000 #900 #900 #df0000;
}
.pure-menu-children a:hover, .pure-menu-children a:focus {
	background: #b90000;
}

@media screen and (max-width: 48em) {
	.pure-menu-link, .pure-menu-children,
	.pure-menu-children .pure-menu-link {
		color: #999 !important;
		text-shadow: none;
		background: none;
		border: none;
	}
	.pure-menu-link:hover,
	.pure-menu-link:focus,
	.pure-menu-children a:hover,
	.pure-menu-children a:focus {
		background: #191919;
	}
}
