/**
 * @file
 * Accordion styles.
 */

.accordion {
  color: #cccccc;
  border-color: #ffffff1a;
  background-color: #ffffff0b;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.accordion__item .claro-details__summary .summary {
  color: #cccccc;
}

.claro-details__wrapper--accordion,
.claro-details__wrapper--accordion-item,
.claro-details__wrapper--vertical-tabs-item {
  background-color: #303030;
}
