/*
** User edit profile
*/
.user-form label,
.user-form #edit-account .form-element,
.user-form #edit-account .fieldset--group > legend > span,
.user-form details > summary,
.user-form .form-element--type-select {
  color: #fff;
}

.user-form .password-confirm .password-strength__title,
.user-form .password-confirm .password-match-message,
.user-form .password-confirm .password-strength__text,
.user-form .password-confirm .password-match-message__text {
  color: #ccc;
}

.password-suggestions {
  color: #ccc;
  background-color: #ffffff1b;
  border-color: #ffffff1a;
}
