/**
 * @file
 * Checkbox and radio input elements.
 */

/**
 * Input appearance.
 */

/* .form-boolean {
  border: 1px solid #919297;
  background: #fff no-repeat 50% 50%;
} */

.form-boolean:active,
.form-boolean:hover {
  border-color: #204182cc;
  box-shadow: inset 0 0 0 1px #204182cc;
}

.form-boolean:focus:active,
.form-boolean:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #cc6e2f, inset 0 0 0 1px #204182cc;
}

.form-boolean--type-checkbox:checked {
  border-color: #ffd23f;
  background-color: #ffd23f;
  background-image: url("data:image/svg+xml,%3csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.795 7.096l2.387 2.506 6.023-6.327 1.484 1.56-7.507 7.89L2.31 8.656z' fill='%23fff'/%3e%3c/svg%3e");
}

.form-boolean--type-checkbox:checked:active,
.form-boolean--type-checkbox:checked:hover {
  border-color: #204182cc;
  background-color: #204182cc;
}

.form-boolean--type-radio:checked {
  border-color: #ffd23f;
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%23ffd23f'/%3e%3c/svg%3e");
  box-shadow: inset 0 0 0 1px #ffd23f;
}

.form-boolean--type-radio:checked:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #cc6e2f, inset 0 0 0 1px #ffd23f;
}

.form-boolean--type-radio:checked:active,
.form-boolean--type-radio:checked:hover {
  border-color: #204182cc;
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%23000f33'/%3e%3c/svg%3e");
  box-shadow: inset 0 0 0 1px #204182cc;
}

.form-boolean--type-radio:checked:focus:active,
.form-boolean--type-radio:checked:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #cc6e2f, inset 0 0 0 1px #204182cc;
}

/**
 * Error states.
 */

.form-boolean.error {
  border-color: #dc2323;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #dc2323;
}

.form-boolean.error:active,
.form-boolean.error:hover {
  box-shadow: inset 0 0 0 1px #dc2323;
}

.form-boolean.error:focus,
.form-boolean.error:focus:active,
.form-boolean.error:focus:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #cc6e2f, inset 0 0 0 1px #dc2323;
}

.form-boolean.error:checked:active,
.form-boolean.error:checked:hover {
  border-color: #dc2323;
  background-color: #fff;
}

.form-boolean--type-checkbox.error:checked,
.form-boolean--type-checkbox.error:checked:active,
.form-boolean--type-checkbox.error:checked:hover {
  background-color: #dc2323;
}

.form-boolean--type-radio.error:checked,
.form-boolean--type-radio.error:checked:active,
.form-boolean--type-radio.error:checked:hover {
  background-image: url("data:image/svg+xml,%3csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle r='4.5' cx='8.5' cy='8.5' fill='%23d72222'/%3e%3c/svg%3e");
}

.form-boolean--type-radio.error:checked:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #cc6e2f, inset 0 0 0 1px #dc2323;
}
